.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid orangered;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 25px 15px 25px;
  z-index: 6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  color: white;
  background-color: rgb(237, 222, 10);
  box-shadow: 10px 5px 5px orangered;
}
