.form {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  text-align: left;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
  font-weight: bold;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-top: 15px;
  background-color: orangered;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.input {
  width: 200px;
  height: 20px;
  color: black;
  background-color: white;
  border: 2px solid orangered;
  border-radius: 8px;
}
