.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  position: relative;
  border: 2px solid black;
  width: 350px;
  margin: 0;
  border-radius: 10px;
  background-color: #edde0a;
}
.btn {
  border-radius: 4px;
  background-color: orangered;
  color: black;
  border-color: black;
}
.text {
  margin: 0;
  padding-top: 7px;
  padding-left: 7px;
  color: black;
  margin-left: 5px;
}
.icon {
  padding-right: 10px;
}
.btnBox {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  gap: 10px;
}
