.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0 15px 0;
  width: 300px;
  border: 2px solid rgb(8, 8, 8);
  background-color: aliceblue;
  padding-top: 15px;
  border-radius: 4px;
}
.row {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.text {
  color: black;
  font-weight: 600;
  text-align: left;
  background-color: aliceblue;
}
.btn {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(193, 189, 189);
  color: black;
  border-color: black;
}
.input {
  border: 1px solid black;
  border-radius: 2px;
  background-color: aliceblue;
  height: 30px;
  width: 255px;
  color: black;
  font-size: 16px;
}
.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.error {
  color: red;
  font-size: 16px;
  font-weight: 200;
}
