.AuthNav {
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.active {
  color: white;
  background-color: orangered;
}
