.title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../../assets/budka-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: calc(100vh - 20px);
  width: calc(100vh + 140px);
}
